<div id="search_condition">
  <p class="h2">絞り込み検索</p>

  <%= form_with(url: employees_path , method: :get, remote: true, local: true) do |form| %>
    <div class="row mt-2 mb-4 py-3 container rounded shadow bg-white">
      <%# 上列 %>
      <div class="col-4 mb-3">
        <%= form.label '名前' , class: "form-label" %>
          <%= form.text_field :name, value: "" , class: "form-control" , id: "name" %>
      </div>
      <div class="col-4 mb-3">
        <%= form.label '性別' , class: "form-label" %>
          <%= form.select :sex, [["--選択--", "invalid" ], ["男性", "男性" ], ["女性", "女性" ], ["無回答", "無回答" ]], {},
            class: "form-select" , aria: {label: "sex" }, id: "sex" %>
      </div>
      <div class="col-4 mb-3">
        <%= form.label 'お誕生日' , class: "form-label" %>
          <%= form.select :birthday, options_for_select((1..12).map { |m| [m.to_s + "月", m] }), { prompt: "--選択--" }, { class: "form-select", id: "birthday", name: "birthday" } %>
      </div>
      <%# 下列 %>
      <div class="col-4 mb-3">
        <%= form.label '住所' , class: "form-label" %>
          <%= form.text_field :address, class: "form-control" , id: "address" %>
      </div>
      <div class="col-4 mb-3 row mx-0">
        <div class="col-12 px-0">
          <%= form.label '入社日' , class: "form-label" %>
        </div>
        <div class="col-7 p-0">
          <%= form.select 'joined_at[year]', options_for_select([["年", "invalid"]] + (1960..Time.now.year).map { |m| [m.to_s + "年", m] } ), {}, {class: "form-select"} %>
        </div>
        <div class="col-5 p-0">
          <%= form.select 'joined_at[month]', options_for_select([['月', "invalid"]] + (1..12).map { |m| [m.to_s + "月", m] } ), {}, {class: "form-select"} %>
        </div>
      </div>
      <div class="col-4 mb-3">
        <%= form.label '電話番号' , class: "form-label" %>
          <%= form.text_field :phone_number, class: "form-control" , id: "phone_number" %>
      </div>
      <div class="col-12 my-2 text-center">
        <%= form.submit "送信" , class: "btn btn-primary px-5", id: "search-employee-btn" %>
      </div>
    </div>
    <% end %>
</div>
