<div id="search_condition">
  <p class="h2">絞り込み検索</p>

  <%= form_with(url: employees_path , method: :get, remote: true, local: true) do |form| %>
    <div class="row mt-2 mb-4 py-3 container rounded shadow bg-white">
      <div class="col-2">
        <%= form.label '名前' , class: "form-label" %>
          <%= form.text_field :name, value: "" , class: "form-control" , id: "name" %>
      </div>
      <div class="col-1">
        <%= form.label '性別' , class: "form-label" %>
          <%= form.select :sex, [["--選択--", "invalid" ], ["男性", "男性" ], ["女性", "女性" ], ["無回答", "無回答" ]], {},
            class: "form-select" , aria: {label: "sex" }, id: "sex" %>
      </div>
      <div class="col-2">
        <%= form.label 'お誕生日' , class: "form-label" %>
          <%= form.date_field :birthday, class: "form-control" , id: "birthday" %>
      </div>
      <div class="col-3">
        <%= form.label '住所' , class: "form-label" %>
          <%= form.text_field :address, class: "form-control" , id: "address" %>
      </div>
      <div class="col-2">
        <%= form.label '入社日' , class: "form-label" %>
          <%= form.date_field :joined_at, class: "form-control" , id: "joined_at" %>
      </div>
      <div class="col-2">
        <%= form.label '電話番号' , class: "form-label" %>
          <%= form.text_field :phone_number, class: "form-control" , id: "phone_number" %>
      </div>
      <div class="col-12 my-2 text-center">
        <%= form.submit "送信" , class: "btn btn-primary px-5", id: "search-employee-btn" %>
      </div>
    </div>
    <% end %>
</div>