<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body style="background-color: white;">
    <h3><%= @flower_shop_name %> 様</h3>

    <p>来月の注文内容は以下になります。よろしくお願いします。</p>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>名前</th>
          <th>誕生日メッセージ</th>
          <th>到着日付</th>
          <th>宛先</th>
          <th>メニュー</th>
        </tr>
      </thead>
      <tbody>
        <% @next_orders_info.each do |info| %>
          <tr>
              <td class='align-middle small'><%= info[:employee_name] %></td>
              <td class='align-middle small'><%= info[:birthday_message] %></td>
              <td class='align-middle small'><%= info[:employee_birthday] %></td>
              <td class='align-middle small'><%= info[:delivery_address] %></td>
              <td class='align-middle small'><%= info[:menu_name_with_price] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <p>合計 : <%= @total_amount %>円 </p>

    <div class="my-3">
      <p>このメールはシステムから自動送信されています。</p>
      <p>ご不明な点がございましたら、お手数おかけしますがご返信お願いします。</p>
    </div>

    <h3>[ 会社情報 ]</h3>
    <p><%= @company_name %></p>
    <p><%= @company_email %></p>
  </body>
</html>
