<div class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
  <nav class="rounded-pill bg-white shadow container-fluid mx-2 mb-1 py-3">
    <p class="px-5 h3 m-0">One Step Gift</p>
    <ul class='navbar-nav row w-50 my-1' id="navbarNav">
      <div class='col-3'>
        <%= link_to current_company.name , root_path, class: "nav-link text-center border-start py-0" %>
      </div>
      <div class='col-3'>
        <%= link_to "お花一覧", "/FlowerList.pdf", class: "nav-link text-center border-start py-0" %>
      </div>
      <div class='col-3'>
        <%= link_to "次回の注文" , next_order_path, class: "nav-link text-center border-start py-0" %>
      </div>
      <div class='col-3'>
        <%= link_to "ログアウト" , companies_sign_out_path, class: "nav-link text-center border-start py-0" %>
      </div>
      <div class='col-3'>
        <%= link_to "設定" , edit_company_registration_path, class: "nav-link text-center border-start py-0" %>
      </div>
    </ul>
  </nav>
</div>
